body {
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: turquoise; /* Turquesa */
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    color: blue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

section img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
